.content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 16px;
    padding-right: 16px;
}

.document-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
    /* list-style-type: none; */
    padding: 0;
    padding-top: 1rem;
}